<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Appliances" asp-action="Index">Appliances</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Fixes" asp-action="Index">Fixes</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Works" asp-action="Index">Works</a>
</li>